.my-item{
	width: 100%;
	height: auto;
	min-height: 2rem;
}
.left{
	width: 18%;
	float: left;
	height: inherit;
	text-align: center;
}
.hui-border-gray{
	border:1px solid gray
}
.left img{
	width: 2rem;
	display: inline-block;
}
.left-img-con{
	width: 100%;
	height: 2rem;
	line-height: 2rem
}
.left-info{
	width: auto;
	overflow: scroll;
	height: 1rem;
	line-height: 1rem;
	color: #aaa;
	font-size: 0.7rem;
}
.left-bar{
	width: 100%;
	height: 1rem;
	text-align: center;
}

.left-bar img{
	width: 0.6rem !important;
	display: inline-block;

}
.center{
	width: 60%;
	float: left;
	height: inherit;
	overflow: hidden;
}
.center-bar{
	width: 100%;
	height: 1.5rem;
	line-height: 1.5rem;
}
.center-icon-con{
	width: 1.5rem;
	height: inherit;
	text-align: center;
	line-height: inherit;
	float: left;
}
.center-icon-con img{
	width: 0.6rem;
	display: inline-block;

}
.center-bar-info{
	font-size: 0.75rem;
	height: 1.5rem;
	float: left;
	width: 80%;
	font-weight: 900;
	overflow: hidden;;
}
.center-bar-info span{
	color: #999;
	font-size: 0.75rem;
	font-weight: 400;
}
.my-pull-right{
	position: relative;
	left: 1.8rem;

}
.my-dot{
  width:0.6rem;
  height:0.6rem;
  border-radius:0.3rem;
  display:inline-block;
}
.dot-green{
    border:1px solid #31b104;
}
.dot-red{
    border:1px solid #ff0000;
}
.right{
	float: left;
	width: 19%;
	height: inherit;
	text-align: center;
	color: #999 !important;
}
.right img{
	width: 2.7rem;
	margin: 10px auto;
	/*display: inline-block;*/
}
.bottom{
	clear: both;
	width: 100%;
	height: 10px;
	background: #eee;
}
